body{
    background-color: rgba(13, 15, 24);
}

.server {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(15, 20, 35);
    color: limegreen;
    font-family: monospace;
    margin-top: 250px;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.server h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.author {
    color: rgba(10, 74, 201);
    font-size: 0.9rem;
    opacity: 0.85;
}